header {
	background-color: rgba(255, 255, 255, 0.301);
	margin: 0;
	/* position: absolute;
	top: 0; */
	width: 100vw;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 30px;
	place-items: center;
}
.logout-button {
    border: none;
	border-radius: 10px;
	background-color: rgb(255, 0, 85);
	padding: 10px;
}
.logout-button:hover {
	width: 70px;
	height: 25px;
}
