header {
	background-color: darkcyan;
	margin: 0;
	/* position: absolute;
	top: 0; */
	width: 100vw;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 30px;
	place-items: center;
}

a:hover {
	font-size: larger;
}

.logout-button:hover {
	width: 70px;
	height: 25px;
}
