.lobby-page-container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
}

.lobby-section {
	background-color: var(--section-background-color);
	height: 65vh;
	border-radius: 20px;
	margin: 20px;
}
.lobby-title-section {
	grid-area: title;
	text-align: center;
}
.players-section {
	grid-area: players;
}
.games-section {
	grid-area: games;
}
.chat-section {
	grid-area: chat;
}

.lobby-container {
	display: grid;
	gap: 10px;
	grid-template-areas:
		"title title title"
		"players games chat";
	/* justify-content: center;
	place-content: center; */
}

.lobby-container h2 {
	text-align: center;
	color: white;
}

.section-container {
	border: 3px solid var(--section-border-color);
	margin: 30px;
	height: calc(100% - 60px);
	border-radius: 30px;
	width: 80%;
}
