.player-slot-container {
	display: grid;
	gap: 5px;
	padding: 5px;
	height: 80%;
	overflow-y: scroll;
}

.player-slot {
	border: rgba(0, 0, 0, 0.404) solid 2px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background: rgba(0, 0, 0, 0.404);
	color: #d5b3db;
	display: grid;
	grid-template-columns: auto 1fr;
	place-content: center;
}

.player-slot .image-container {
	background: #21fa90;
	border-radius: 50%;
}
.player-slot .image-container img {
	width: 70px;
}
